# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# Test
.pytest_cache/
.coverage
htmlcov/

# Static analysis
.mypy_cache/
.ruff_cache/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Local project data
cache/
logs/
*.db

# Excel files
*.xlsx
